body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
}

.button{
    background: coral;
    padding: 1em 2em;  /* top-bottom = 1em, left-right = 3em */
    color: #fff;
    border: 0;
}

.button:hover{
    background: #333;

}